* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.app_content {
    width: 300px;
    height: 300px;
    border: black 1px solid;
}

.game {
    width: 100%;
    height: 100%;
    position: relative;
}

.gameCub {
    /* width: 50px;
    height: 50px;
    top: 50px;
    left: 50px; */
    position: absolute;
    cursor: pointer;
    background-color: blue;
}

.hide {
    display: none;
}