* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 26px;
    background-color: #6B97CA;
    display: flex;
    align-items: center;
    height: 100vh;
}

.main-box {
    max-width: 520px;
    margin: 0 auto;
}

.current {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    row-gap: 30px;
    div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div:nth-child(3) {
        display: flex;
        justify-content: space-between;
    }
}
.forecast {
    display: flex;
    flex-direction: column;

    .row {
        border-top: none;
        margin-bottom: 10px ;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(201, 201, 201);
        align-items: center;
        border-radius: 8px;
        span, div {
            min-width: 160px;
        }
        span {
            text-align: right;
        }
    }
}